@import './colors.scss';

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  #themeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $secondary;
  }
}
